<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605208683319-vlpq3mo8jsvev1saeqo1b3lgd544u1db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605208683319-vlpq3mo8jsvev1saeqo1b3lgd544u1db</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605208683319-f40f3kjk4a2q3lbdom7ecpav7jfmfn3u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMs_JfU41ErTZBPvPua66VsLo1WuhTwOk</string>
	<key>GCM_SENDER_ID</key>
	<string>605208683319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashbord</string>
	<key>PROJECT_ID</key>
	<string>pmgp-26c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>pmgp-26c3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605208683319:ios:7670bbe62092a2c99670b2</string>
</dict>
</plist>